#role::v-deep {
    .action {
        margin-bottom: 20px;
        
        .action-wrap {
            display: flex;
            justify-content: center;
            
            &--col {
                display: flex;
                align-items: center;
                
                &__title {
                    font-weight: 600;
                    font-size: 20px;
                    color: #0F2E5FFF;
                }
                
                &.action-btn {
                    display: flex;
                    justify-content: end;
                }
            }
        }
    }
    
    .role-main {
        .list-role {
            padding-bottom: 0 !important;
            
            .search-wrap {
                margin-top: 5px;
                padding-bottom: 20px;
                
                input {
                    width: 100%;
                    height: 40px;
                }
            }
            
            .role-name {
                text-decoration: none;
                font-weight: bold;
                color: #417AB0FF;
                
                &.detail {
                    cursor: pointer;
                }
            }
            
            .pagination-wrap {
                display: flex;
                justify-content: space-between;
                margin-top: 20px;
                
                &--view {
                    width: 125px;
                }
                
                .el-select {
                    .el-input__suffix {
                        right: 10px !important;
                    }
                    
                    .el-input__wrapper {
                        background-color: #e3e9ed !important;
                        border: none !important;
                        box-shadow: none !important;
                        height: 40px !important;
                    }
                    
                    .el-input__inner {
                        color: #395d80;
                        font-weight: 600;
                    }
                    
                    i {
                        font-weight: bold;
                        color: #395d80;
                    }
                }
                
                &--page {
                    display: flex;
                    align-items: center;
                    color: gray;
                    
                    .el-pagination::v-deep {
                        .number {
                            border: 1px solid #e6e9ed;
                            border-radius: 5px;
                            margin: 0 2.5px;
                            color: black;
                            
                            &.active {
                                border: 1px solid rgb(47 85 122 / 62%);
                            }
                        }
                        
                        button {
                            border: 1px solid #e6e9ed;
                            border-radius: 5px;
                            padding: 0;
                            margin: 0 2.5px;
                        }
                    }
                }
            }
        }
    }
    
    .modal-role {
        .input-warp {
            margin-bottom: 10px;
            
            label {
                font-size: 12px;
                font-weight: 600;
                color: #3f6079;;
                display: block;
                margin-bottom: 5px;
            }
            
            input {
                height: 40px;
            }
            
            .el-select {
                .el-input__wrapper {
                    height: 40px !important;
                }
                
                i {
                    font-weight: bold;
                }
            }
        }
    }
    
    .required {
        color: #F54B5EFF;
    }
    
    .error {
        color: red;
        margin-top: 5px;
        font-size: 0.75rem;
    }
    
    .mb-0 {
        margin-bottom: 0 !important;
    }
    
    .mb-1 {
        margin-bottom: 0.5rem !important;
    }
    
    .el-select {
        width: 100%;
    }
}

.admin_link {
    text-decoration: none;
    font-weight: bold;
    color: #417AB0FF;
    cursor: pointer;
}

.decoration-none {
    text-decoration: none !important;
}

.admin_link_none_cta {
    cursor: auto;
}